[bumpversion]
current_version = 0.1.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:config_file/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:CHANGELOG.md]
search = Unreleased
replace = {new_version} - {now:%Y-%m-%d}

[bumpversion:file:README.md]
search = https://img.shields.io/badge/version-{current_version}-blue.svg
replace = https://img.shields.io/badge/version-{new_version}-blue.svg